In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import plotly.express as px
import datetime as dt
%matplotlib inline

In [3]:
from sklearn.impute import SimpleImputer as si

In [4]:
df=pd.read_csv('Crimes_-_2001_to_Present.csv')

In [5]:
df.tail()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
7846804,13128007,JG325985,06/21/2023 08:00:00 PM,031XX N CALIFORNIA AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,35.0,21.0,14,1157169.0,1920611.0,2023,07/15/2023 04:45:57 PM,41.937926,-87.697782,"(41.937925817, -87.697782474)"
7846805,13129172,JG327619,06/20/2023 04:00:00 AM,028XX N MAPLEWOOD AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,True,...,35.0,21.0,08B,1158868.0,1918755.0,2023,07/15/2023 04:45:57 PM,41.932798,-87.691589,"(41.932798095, -87.691589364)"
7846806,13128066,JG325838,06/06/2023 03:42:00 PM,018XX N LOCKWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,False,...,37.0,25.0,17,1140792.0,1911954.0,2023,07/15/2023 04:45:57 PM,41.914487,-87.758185,"(41.914487492, -87.758185241)"
7846807,13128324,JG326502,05/13/2023 12:00:00 PM,020XX W CERMAK RD,1120,DECEPTIVE PRACTICE,FORGERY,CURRENCY EXCHANGE,False,False,...,25.0,31.0,10,1163211.0,1889404.0,2023,07/15/2023 04:45:57 PM,41.852166,-87.676455,"(41.85216632, -87.676455032)"
7846808,13128375,JG326564,06/24/2023 01:29:00 PM,069XX N HAMILTON AVE,1330,CRIMINAL TRESPASS,TO LAND,RESIDENCE,False,False,...,40.0,2.0,26,1160740.0,1946176.0,2023,07/15/2023 04:45:57 PM,42.008004,-87.683946,"(42.008003927, -87.683946124)"

## exploring the data set

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7846809 entries, 0 to 7846808
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

In [7]:
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10758
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614849
Community Area          613476
FBI Code                     0
X Coordinate             88111
Y Coordinate             88111
Year                         0
Updated On                   0
Latitude                 88111
Longitude                88111
Location                 88111
dtype: int64

In [8]:
df['Primary Type'].value_counts()

THEFT                                1655523
BATTERY                              1433696
CRIMINAL DAMAGE                       894469
NARCOTICS                             748757
ASSAULT                               512777
OTHER OFFENSE                         487246
BURGLARY                              426115
MOTOR VEHICLE THEFT                   382245
DECEPTIVE PRACTICE                    349195
ROBBERY                               294608
CRIMINAL TRESPASS                     215363
WEAPONS VIOLATION                     108629
PROSTITUTION                           69878
OFFENSE INVOLVING CHILDREN             56224
PUBLIC PEACE VIOLATION                 52544
SEX OFFENSE                            31028
CRIM SEXUAL ASSAULT                    27606
INTERFERENCE WITH PUBLIC OFFICER       18515
LIQUOR LAW VIOLATION                   14953
GAMBLING                               14621
ARSON                                  13384
HOMICIDE                               12726
KIDNAPPING                              7261
CRIMINAL SEXUAL ASSAULT                 7148
STALKING                                4910
INTIMIDATION                            4738
CONCEALED CARRY LICENSE VIOLATION       1119
OBSCENITY                                831
PUBLIC INDECENCY                         196
NON-CRIMINAL                             183
OTHER NARCOTIC VIOLATION                 149
HUMAN TRAFFICKING                        100
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: Primary Type, dtype: int64

In [9]:
df['Description'].value_counts().head(20)

SIMPLE                           920680
$500 AND UNDER                   635327
DOMESTIC BATTERY SIMPLE          613446
TO VEHICLE                       436853
OVER $500                        419761
TO PROPERTY                      413155
AUTOMOBILE                       302034
FORCIBLE ENTRY                   285190
POSS: CANNABIS 30GMS OR LESS     278139
FROM BUILDING                    255924
RETAIL THEFT                     205616
TELEPHONE THREAT                 150865
TO LAND                          132245
POSS: CRACK                      121112
UNLAWFUL ENTRY                   115899
HARASSMENT BY TELEPHONE          111770
AGGRAVATED: OTHER DANG WEAPON     96737
POSS: HEROIN(WHITE)               95786
ARMED: HANDGUN                    93505
STRONGARM - NO WEAPON             91859
Name: Description, dtype: int64

In [10]:
df['Location Description'].unique()

array(['RESIDENCE', nan, 'STREET', 'OTHER',
       'GOVERNMENT BUILDING/PROPERTY', 'POLICE FACILITY/VEH PARKING LOT',
       'VACANT LOT/LAND', 'APARTMENT', 'SIDEWALK', 'HOTEL/MOTEL',
       'RESIDENCE-GARAGE', 'BANK', 'PARKING LOT/GARAGE(NON.RESID.)',
       'PARK PROPERTY', 'HOSPITAL BUILDING/GROUNDS', 'RESTAURANT',
       'DAY CARE CENTER', 'SCHOOL, PUBLIC, BUILDING',
       'CHA PARKING LOT/GROUNDS', 'ALLEY',
       'AIRPORT BUILDING NON-TERMINAL - SECURE AREA', 'CTA TRAIN',
       'RESIDENCE PORCH/HALLWAY', 'GAS STATION',
       'RESIDENTIAL YARD (FRONT/BACK)', 'BAR OR TAVERN',
       'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
       'AUTO / BOAT / RV DEALERSHIP', 'CONVENIENCE STORE', 'WAREHOUSE',
       'VEHICLE NON-COMMERCIAL', 'ATHLETIC CLUB', 'POOL ROOM',
       'COMMERCIAL / BUSINESS OFFICE', 'BOAT/WATERCRAFT', 'CTA STATION',
       'MEDICAL/DENTAL OFFICE', 'CHA APARTMENT', 'SMALL RETAIL STORE',
       'AIRPORT/AIRCRAFT', 'TAVERN/LIQUOR STORE', 'DRUG STORE',
       'ANIMAL HOSPITAL', 'CURRENCY EXCHANGE',
       'ATM (AUTOMATIC TELLER MACHINE)', 'CTA BUS',
       'DRIVEWAY - RESIDENTIAL',
       'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
       'CONSTRUCTION SITE', 'DEPARTMENT STORE', 'SPORTS ARENA/STADIUM',
       'LIBRARY', 'NURSING HOME/RETIREMENT HOME',
       'SCHOOL, PUBLIC, GROUNDS', 'CTA PLATFORM',
       'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA',
       'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
       'AIRPORT VENDING ESTABLISHMENT', 'SCHOOL, PRIVATE, BUILDING',
       'ABANDONED BUILDING', 'FACTORY/MANUFACTURING BUILDING',
       'PAWN SHOP', 'CLEANING STORE', 'CTA BUS STOP',
       'GROCERY FOOD STORE', 'OTHER RAILROAD PROP / TRAIN DEPOT',
       'OTHER (SPECIFY)', 'RESIDENCE - GARAGE',
       'OTHER RAILROAD PROPERTY / TRAIN DEPOT',
       'RESIDENCE - PORCH / HALLWAY', 'AIRCRAFT',
       'RESIDENCE - YARD (FRONT / BACK)', 'BARBERSHOP',
       'SAVINGS AND LOAN', 'OTHER COMMERCIAL TRANSPORTATION',
       'CREDIT UNION', 'AIRPORT PARKING LOT', 'HOTEL / MOTEL',
       'CTA GARAGE / OTHER PROPERTY', 'COLLEGE/UNIVERSITY GROUNDS',
       'AIRPORT EXTERIOR - NON-SECURE AREA',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'JAIL / LOCK-UP FACILITY',
       'BRIDGE', 'LAKEFRONT/WATERFRONT/RIVERBANK', 'CAR WASH',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'AIRPORT EXTERIOR - SECURE AREA', 'TAXICAB', 'VEHICLE-COMMERCIAL',
       'COLLEGE/UNIVERSITY RESIDENCE HALL', 'HIGHWAY/EXPRESSWAY',
       'FEDERAL BUILDING', 'APPLIANCE STORE',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA',
       'MOVIE HOUSE/THEATER', 'SCHOOL, PRIVATE, GROUNDS',
       'VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)',
       'CHURCH / SYNAGOGUE / PLACE OF WORSHIP',
       'VEHICLE - DELIVERY TRUCK', 'SPORTS ARENA / STADIUM',
       'HOSPITAL BUILDING / GROUNDS',
       'AIRPORT TRANSPORTATION SYSTEM (ATS)', 'COIN OPERATED MACHINE',
       'POLICE FACILITY / VEHICLE PARKING LOT',
       'PARKING LOT / GARAGE (NON RESIDENTIAL)',
       'SCHOOL - PUBLIC GROUNDS', 'VEHICLE - OTHER RIDE SERVICE',
       'NURSING / RETIREMENT HOME', 'VACANT LOT / LAND',
       'VEHICLE - COMMERCIAL', 'FIRE STATION', 'SCHOOL - PUBLIC BUILDING',
       'SCHOOL - PRIVATE BUILDING', 'CTA TRACKS - RIGHT OF WAY',
       'TAVERN / LIQUOR STORE', 'GOVERNMENT BUILDING / PROPERTY',
       'VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS',
       'CTA PARKING LOT / GARAGE / OTHER PROPERTY', 'NEWSSTAND',
       'LAKEFRONT / WATERFRONT / RIVERBANK',
       'CHA HALLWAY / STAIRWELL / ELEVATOR', 'DELIVERY TRUCK',
       'VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)',
       'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA',
       'MOVIE HOUSE / THEATER', 'PARKING LOT',
       'FACTORY / MANUFACTURING BUILDING', 'CEMETARY',
       'CHA PARKING LOT / GROUNDS', 'HOUSE', 'MEDICAL / DENTAL OFFICE',
       'COLLEGE / UNIVERSITY - GROUNDS', 'YARD', 'FOREST PRESERVE',
       'TAVERN', 'DRIVEWAY', 'VEHICLE - COMMERCIAL: TROLLEY BUS',
       'HIGHWAY / EXPRESSWAY', 'SCHOOL - PRIVATE GROUNDS',
       'BOWLING ALLEY', 'PORCH', 'COLLEGE / UNIVERSITY - RESIDENCE HALL',
       'KENNEL', 'BOAT / WATERCRAFT', 'FARM', 'AUTO', 'HOTEL', 'GARAGE',
       'RIVER BANK', 'RETAIL STORE', 'EXPRESSWAY EMBANKMENT',
       'VACANT LOT', 'GANGWAY', 'CHA PARKING LOT',
       'GAS STATION DRIVE/PROP.', 'HALLWAY', 'BANQUET HALL',
       'CTA SUBWAY STATION',
       'VEHICLE - COMMERCIAL: ENTERTAINMENT / PARTY BUS', 'WOODED AREA',
       'CHA GROUNDS', 'CHA HALLWAY', 'COUNTY JAIL', 'STAIRWELL',
       'COACH HOUSE', 'VEHICLE-COMMERCIAL - TROLLEY BUS', 'HORSE STABLE',
       'DUMPSTER', 'YMCA', 'BASEMENT', 'CHA STAIRWELL', 'CHURCH PROPERTY',
       'CLUB', 'CHA ELEVATOR', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'TRUCK',
       'CHA LOBBY', 'PRAIRIE', 'PUBLIC GRAMMAR SCHOOL', 'RIVER',
       'JUNK YARD/GARBAGE DUMP', 'SCHOOL YARD', 'VESTIBULE',
       'FUNERAL PARLOR', 'OFFICE', 'NURSING HOME',
       'BARBER SHOP/BEAUTY SALON', 'RAILROAD PROPERTY', 'LIQUOR STORE',
       'MOTEL', 'LAKE', 'CTA "L" PLATFORM', 'CHA PLAY LOT',
       'PUBLIC HIGH SCHOOL', 'TAXI CAB', 'GOVERNMENT BUILDING',
       'CTA "L" TRAIN', 'ELEVATOR', 'POOLROOM', 'LAUNDRY ROOM',
       'CLEANERS/LAUNDROMAT', 'HOSPITAL', 'LAGOON', 'TRUCKING TERMINAL',
       'CTA PROPERTY', 'ROOMING HOUSE', 'FACTORY', 'TRAILER',
       'POLICE FACILITY', 'ROOF', 'BEACH', 'LIVERY AUTO', 'LOADING DOCK'],
      dtype=object)

In [11]:
df['Block'].value_counts().head(20)

100XX W OHARE ST                       16539
001XX N STATE ST                       15458
076XX S CICERO AVE                     10139
008XX N MICHIGAN AVE                    9440
0000X N STATE ST                        9106
0000X W TERMINAL ST                     6697
064XX S DR MARTIN LUTHER KING JR DR     6025
063XX S DR MARTIN LUTHER KING JR DR     5642
023XX S STATE ST                        5251
001XX W 87TH ST                         4649
006XX N MICHIGAN AVE                    4447
012XX S WABASH AVE                      4428
008XX N STATE ST                        4391
0000X S STATE ST                        4331
057XX S CICERO AVE                      4254
009XX W BELMONT AVE                     4157
033XX W FILLMORE ST                     4126
022XX S STATE ST                        4019
075XX S STONY ISLAND AVE                3852
038XX W ROOSEVELT RD                    3849
Name: Block, dtype: int64

In [12]:
df['Primary Type'].value_counts()

THEFT                                1655523
BATTERY                              1433696
CRIMINAL DAMAGE                       894469
NARCOTICS                             748757
ASSAULT                               512777
OTHER OFFENSE                         487246
BURGLARY                              426115
MOTOR VEHICLE THEFT                   382245
DECEPTIVE PRACTICE                    349195
ROBBERY                               294608
CRIMINAL TRESPASS                     215363
WEAPONS VIOLATION                     108629
PROSTITUTION                           69878
OFFENSE INVOLVING CHILDREN             56224
PUBLIC PEACE VIOLATION                 52544
SEX OFFENSE                            31028
CRIM SEXUAL ASSAULT                    27606
INTERFERENCE WITH PUBLIC OFFICER       18515
LIQUOR LAW VIOLATION                   14953
GAMBLING                               14621
ARSON                                  13384
HOMICIDE                               12726
KIDNAPPING                              7261
CRIMINAL SEXUAL ASSAULT                 7148
STALKING                                4910
INTIMIDATION                            4738
CONCEALED CARRY LICENSE VIOLATION       1119
OBSCENITY                                831
PUBLIC INDECENCY                         196
NON-CRIMINAL                             183
OTHER NARCOTIC VIOLATION                 149
HUMAN TRAFFICKING                        100
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: Primary Type, dtype: int64

In [13]:
df['Description'].value_counts().head(20)

SIMPLE                           920680
$500 AND UNDER                   635327
DOMESTIC BATTERY SIMPLE          613446
TO VEHICLE                       436853
OVER $500                        419761
TO PROPERTY                      413155
AUTOMOBILE                       302034
FORCIBLE ENTRY                   285190
POSS: CANNABIS 30GMS OR LESS     278139
FROM BUILDING                    255924
RETAIL THEFT                     205616
TELEPHONE THREAT                 150865
TO LAND                          132245
POSS: CRACK                      121112
UNLAWFUL ENTRY                   115899
HARASSMENT BY TELEPHONE          111770
AGGRAVATED: OTHER DANG WEAPON     96737
POSS: HEROIN(WHITE)               95786
ARMED: HANDGUN                    93505
STRONGARM - NO WEAPON             91859
Name: Description, dtype: int64

In [14]:
df['Location Description'].value_counts().head(20)

STREET                            2045225
RESIDENCE                         1313506
APARTMENT                          891006
SIDEWALK                           732097
OTHER                              270017
PARKING LOT/GARAGE(NON.RESID.)     202985
ALLEY                              174393
SMALL RETAIL STORE                 148878
SCHOOL, PUBLIC, BUILDING           146387
RESIDENCE-GARAGE                   135543
RESTAURANT                         128440
VEHICLE NON-COMMERCIAL             124898
RESIDENCE PORCH/HALLWAY            124208
DEPARTMENT STORE                    99437
GROCERY FOOD STORE                  99254
GAS STATION                         87178
RESIDENTIAL YARD (FRONT/BACK)       75148
COMMERCIAL / BUSINESS OFFICE        61180
PARK PROPERTY                       59178
CHA PARKING LOT/GROUNDS             56107
Name: Location Description, dtype: int64

In [15]:
df.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,7.846809e+06,7.846809e+06,7.846762e+06,7.231960e+06,7.233333e+06,7.758698e+06,7.758698e+06,7.846809e+06,7.758698e+06,7.758698e+06
mean,7.074220e+06,1.185677e+03,1.129493e+01,2.275683e+01,3.747487e+01,1.164606e+06,1.885794e+06,2.010047e+03,4.184221e+01,-8.767147e+01
std,3.530056e+06,7.032093e+02,6.953759e+00,1.385113e+01,2.154184e+01,1.684276e+04,3.227139e+04,6.341715e+00,8.878488e-02,6.107057e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.815790e+06,6.210000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152985e+06,1.859077e+06,2.005000e+03,4.176873e+01,-8.771365e+01
50%,7.075819e+06,1.034000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166121e+06,1.890736e+06,2.009000e+03,4.185593e+01,-8.766582e+01
75%,1.021223e+07,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176384e+06,1.909282e+06,2.015000e+03,4.190680e+01,-8.762817e+01
max,1.314808e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.023000e+03,4.202291e+01,-8.752453e+01

## dropping redunduncies

In [5]:
df.drop('Location', axis=1, inplace=True)

In [6]:
df.drop('X Coordinate', axis=1, inplace=True)

In [7]:
df.drop('Y Coordinate', axis=1, inplace=True)

In [19]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,Latitude,Longitude
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,NaN,NaN
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,NaN,NaN
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,NaN,NaN
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,NaN,NaN
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,NaN,NaN

## handling messing values

In [20]:
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10758
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614849
Community Area          613476
FBI Code                     0
Year                         0
Updated On                   0
Latitude                 88111
Longitude                88111
dtype: int64

#### drop the null in district column

In [8]:
blockes_of_missing_districts = df.loc[df['District'].isnull(), 'Block']
blockes_of_missing_districts

1037321        100XX W BRYN MAWR AVE
3956850            007XX E GRAND AVE
3971471    002XX N BREAKWATER ACCESS
4458218            010XX E GRAND AVE
4661534          006XX E RANDOLPH ST
5608666      010XX N SPRINGFIELD AVE
5626540               101XX S MAY ST
5634990             001XX E 107TH ST
5635352          030XX S ASHLAND AVE
5653812           034XX N RACINE AVE
5658846         025XX N BOSWORTH AVE
5660802         061XX S MICHIGAN AVE
5674841            031XX N ODELL AVE
5675911         047XX N KEYSTONE AVE
5691380           061XX S RHODES AVE
5692569       013XX N CALIFORNIA AVE
5694883        072XX S FAIRFIELD AVE
5704131          003XX N WOLCOTT AVE
5704490              039XX W 26TH ST
5714519          014XX N ASHLAND AVE
5718617            021XX W NORTH AVE
5721477              036XX W IOWA ST
5722224              015XX W 73RD ST
5722674        025XX W HUTCHINSON ST
5727344         082XX S WOODLAWN AVE
5731573          004XX N MC CLURG CT
5732561    019XX N LINCOLN PARK WEST
5732966            062XX S MORGAN ST
5733611          043XX W BELMONT AVE
5733847           002XX E ONTARIO ST
5733939           0000X S KENTON AVE
5734120          057XX W POTOMAC AVE
5734127         012XX N LOCKWOOD AVE
5734206             008XX W 103RD ST
5734477              006XX W 66TH ST
5735579              002XX W 72ND ST
5735938              009XX W 75TH ST
5737082              003XX E 59TH ST
5738873            029XX N MASON AVE
5739060            015XX N AVERS AVE
5739580              008XX E 63RD ST
5740497           007XX S PULASKI RD
5741462       056XX W IRVING PARK RD
5742313           061XX S ALBANY AVE
5743039       065XX N CALIFORNIA AVE
5743411           022XX S HAMLIN AVE
5744164          012XX W DIVISION ST
Name: Block, dtype: object

In [9]:
df.dropna(subset=['District'], inplace=True)

In [29]:
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10751
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    614849
Community Area          613476
FBI Code                     0
Year                         0
Updated On                   0
Latitude                 88111
Longitude                88111
dtype: int64

#### fill null in location discription column

In [10]:
Primary_Type_of_missing_Location_Description= df.loc[df['Location Description'].isnull(), 'Primary Type']
Primary_Type_of_missing_Location_Description

1          DECEPTIVE PRACTICE
12         DECEPTIVE PRACTICE
18         DECEPTIVE PRACTICE
32         DECEPTIVE PRACTICE
51         DECEPTIVE PRACTICE
                  ...
7846791    DECEPTIVE PRACTICE
7846793    DECEPTIVE PRACTICE
7846796    DECEPTIVE PRACTICE
7846798    DECEPTIVE PRACTICE
7846801    DECEPTIVE PRACTICE
Name: Primary Type, Length: 10758, dtype: object

In [11]:
description_of_missing_Location_Description= df.loc[df['Location Description'].isnull(), 'Description'].value_counts()
description_of_missing_Location_Description

FINANCIAL IDENTITY THEFT OVER $ 300        8273
FINANCIAL IDENTITY THEFT $300 AND UNDER    1560
$500 AND UNDER                              676
ILLEGAL USE CASH CARD                        47
FRAUD OR CONFIDENCE GAME                     44
CREDIT CARD FRAUD                            42
FROM BUILDING                                25
FORGERY                                      10
COMPUTER FRAUD                                9
POCKET-PICKING                                7
UNLAWFUL USE OF A COMPUTER                    6
FORCIBLE ENTRY                                6
SIMPLE                                        5
OVER $500                                     5
COUNTERFEIT CHECK                             3
COUNTERFEITING DOCUMENT                       3
BOGUS CHECK                                   3
AGGRAVATED FINANCIAL IDENTITY THEFT           3
NON-AGGRAVATED                                3
TO PROPERTY                                   2
STRONGARM - NO WEAPON                         2
TO VEHICLE                                    2
AGGRAVATED: HANDGUN                           1
AGGRAVATED VEHICULAR HIJACKING                1
DOMESTIC BATTERY SIMPLE                       1
BOMB THREAT                                   1
TO STATE SUP LAND                             1
POSS: CANNABIS 30GMS OR LESS                  1
CRIMINAL DEFACEMENT                           1
UNLAWFUL POSS OF HANDGUN                      1
ATTEMPT FORCIBLE ENTRY                        1
ATTEMPT - FINANCIAL IDENTITY THEFT            1
THEFT/RECOVERY: AUTOMOBILE                    1
TAMPER WITH MOTOR VEHICLE                     1
STOLEN PROP: BUY/RECEIVE/POS.                 1
FINANCIAL ID THEFT: OVER $300                 1
RETAIL THEFT                                  1
OTHER CRIME AGAINST PERSON                    1
AGGRAVATED - HANDGUN                          1
AGG SEX ASSLT OF CHILD FAM MBR                1
BY FIRE                                       1
ILLEGAL POSSESSION CASH CARD                  1
ARMED: HANDGUN                                1
TELEPHONE THREAT                              1
Name: Description, dtype: int64

In [10]:
df.loc[(df['Location Description'].isna()) & (df['Description'] == 'POCKET-PICKING'), 'Location Description'] = 'STREET'

In [11]:
df.loc[(df['Location Description'].isna()) & (df['Description'] == 'RETAIL THEFT'), 'Location Description'] = 'SMALL RETAIL STORE'

In [12]:
df['Location Description'].fillna('RESIDENCE', inplace= True)

In [40]:
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description         0
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    614849
Community Area          613476
FBI Code                     0
Year                         0
Updated On                   0
Latitude                 88111
Longitude                88111
dtype: int64

#### fill null in comunity area column

In [15]:
blockes_of_missing_comunityAreas= df.loc[df['Community Area'].isnull(), 'Block'].value_counts().head(10)
blockes_of_missing_comunityAreas

076XX S CICERO AV      1279
001XX N STATE ST       1077
035XX S FEDERAL ST     1011
002XX W 87 ST           758
049XX S STATE ST        752
008XX N MICHIGAN AV     721
027XX W OGDEN AV        685
057XX S CICERO AV       631
045XX S FEDERAL ST      618
022XX S STATE ST        604
Name: Block, dtype: int64

In [16]:
blockes_of_missing_comunityAreas= df.loc[df['Community Area'].isnull(), 'Block'].mode()
blockes_of_missing_comunityAreas

0    076XX S CICERO AV
Name: Block, dtype: object

In [17]:
df['Community Area'].mode()

0    25.0
Name: Community Area, dtype: float64

In [13]:
df.loc[(df['Community Area'].isna()) & (df['Block'] == '001XX N STATE ST'), 'Community Area'] = '37'

In [14]:
df.loc[(df['Community Area'].isna()) & (df['Block'] == 'S CICERO AV'), 'Community Area'] = '25'

In [15]:
df.loc[(df['Community Area'].isna()) & (df['Block'] == 'S FEDERAL ST'), 'Community Area'] = '20'

In [16]:
df['Community Area'].fillna('25', inplace= True)

In [17]:
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description         0
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    614849
Community Area               0
FBI Code                     0
Year                         0
Updated On                   0
Latitude                 88111
Longitude                88111
dtype: int64

#### fill null in ward column

In [22]:
blockes_of_missing_wards= df.loc[df['Ward'].isnull(), 'Block'].value_counts().head(10)
blockes_of_missing_wards

100XX W OHARE ST       2328
076XX S CICERO AV      1279
001XX N STATE ST       1077
035XX S FEDERAL ST     1011
002XX W 87 ST           758
049XX S STATE ST        752
008XX N MICHIGAN AV     721
027XX W OGDEN AV        685
057XX S CICERO AV       631
045XX S FEDERAL ST      618
Name: Block, dtype: int64

In [49]:
df['Ward'].mode()

0    28.0
Name: Ward, dtype: float64

In [50]:
df['Ward'].value_counts()

28.0    331728
42.0    300428
24.0    284029
27.0    272593
2.0     255928
6.0     239579
17.0    239171
20.0    237340
3.0     220325
21.0    219128
16.0    207934
34.0    202487
8.0     199960
7.0     196558
37.0    195573
9.0     187711
15.0    186440
5.0     173287
29.0    168110
4.0     145079
1.0     138140
10.0    123265
26.0    122728
18.0    119171
32.0    119143
25.0    105467
49.0    103941
44.0    101076
31.0     99097
11.0     98278
30.0     98191
46.0     97604
14.0     97206
35.0     94423
23.0     91882
43.0     90480
13.0     88774
12.0     88174
22.0     84543
36.0     76793
41.0     76790
40.0     76629
38.0     75245
47.0     75165
50.0     74784
45.0     74099
48.0     73427
33.0     71892
39.0     67918
19.0     64200
Name: Ward, dtype: int64

In [51]:
df['Ward'].median()

23.0

In [18]:
df['Ward'].fillna('28', inplace= True)

## fill null in longitude and latitude columns

#### 1st extract a correct address

In [53]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,Latitude,Longitude
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,NaN,NaN
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,NaN,NaN
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,NaN,NaN
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,NaN,NaN
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,NaN,NaN

In [19]:
df[['redacted street', 'new block address']] = df['Block'].str.split(' ', 1, expand=True)

/var/folders/j9/3223n2td7wg_lbnssfvxrvpc0000gn/T/ipykernel_12526/805077054.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['redacted street', 'new block address']] = df['Block'].str.split(' ', 1, expand=True)

In [55]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,District,Ward,Community Area,FBI Code,Year,Updated On,Latitude,Longitude,redacted street,new block address
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,NaN,NaN,082XX,S INGLESIDE AVE
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,NaN,NaN,055XX,S ROCKWELL ST
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,...,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,NaN,NaN,009XX,E HYDE PARK BLVD
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,NaN,NaN,056XX,W WELLINGTON AVE
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,NaN,NaN,069XX,W ARCHER AVE

#### 2nd use geocoding to find Lo & La

In [59]:
from geopy.geocoders import Nominatim

In [60]:
geolocator = Nominatim(user_agent="coordinate_finder")

In [61]:
for index, row in df.iterrows():
        if pd.isnull(row['Longitude']) or pd.isnull(row['Latitude']):
            address = row['new block address']

In [62]:
location = geolocator.geocode(address)

In [63]:
df.at[index, 'Longitude'] = location.longitude
df.at[index, 'Latitude'] = location.latitude

In [64]:
df.tail(20)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,District,Ward,Community Area,FBI Code,Year,Updated On,Latitude,Longitude,redacted street,new block address
7846789,13128696,JG325723,02/02/2019 12:00:00 AM,032XX S WALLACE ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,True,...,9.0,11.0,60.0,02,2019,07/05/2023 04:48:33 PM,NaN,NaN,032XX,S WALLACE ST
7846790,13129089,JG327504,09/27/2022 12:00:00 AM,059XX N HERMITAGE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,20.0,40.0,77.0,11,2022,07/05/2023 04:48:33 PM,NaN,NaN,059XX,N HERMITAGE AVE
7846791,13128254,JG325590,03/31/2021 12:15:00 PM,003XX E 55TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,2.0,20.0,40.0,11,2021,07/05/2023 04:48:33 PM,NaN,NaN,003XX,E 55TH PL
7846792,13128926,JG327095,05/27/2022 12:00:00 AM,035XX S RICHMOND ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,PARK PROPERTY,False,True,...,9.0,12.0,58.0,08B,2022,07/05/2023 04:48:33 PM,NaN,NaN,035XX,S RICHMOND ST
7846793,13129282,JG326910,12/15/2022 11:55:00 AM,062XX N HARDING AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,17.0,39.0,13.0,11,2022,07/05/2023 04:48:33 PM,NaN,NaN,062XX,N HARDING AVE
7846794,13130030,JG328516,06/17/2022 12:01:00 AM,004XX S LOTUS AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,...,15.0,29.0,25.0,11,2022,07/05/2023 04:48:33 PM,NaN,NaN,004XX,S LOTUS AVE
7846795,13128041,JG326305,12/01/2022 12:00:00 AM,049XX W WEST END AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,STREET,False,False,...,15.0,28.0,25.0,11,2022,07/05/2023 04:48:33 PM,NaN,NaN,049XX,W WEST END AVE
7846796,13128260,JG325445,10/02/2022 04:15:00 PM,082XX S DREXEL AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,8.0,44.0,11,2022,07/05/2023 04:48:33 PM,NaN,NaN,082XX,S DREXEL AVE
7846797,13129895,JG328258,01/01/2022 12:01:00 AM,008XX W BUENA AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,False,...,19.0,46.0,3.0,26,2022,07/05/2023 04:48:33 PM,NaN,NaN,008XX,W BUENA AVE
7846798,13129286,JG326911,12/22/2022 12:00:00 PM,030XX N SHEFFIELD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,19.0,44.0,6.0,11,2022,07/05/2023 04:48:33 PM,NaN,NaN,030XX,N SHEFFIELD AVE
7846799,13127897,JG326012,04/01/2021 12:00:00 AM,076XX S ABERDEEN ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,17.0,71.0,11,2021,07/05/2023 04:48:33 PM,NaN,NaN,076XX,S ABERDEEN ST
7846800,13127790,JG325806,11/03/2015 12:00:00 PM,025XX W LELAND AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,False,...,19.0,47.0,4.0,17,2015,07/05/2023 04:48:33 PM,NaN,NaN,025XX,W LELAND AVE
7846801,13128253,JG325461,12/19/2021 02:30:00 PM,015XX N WASHTENAW AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,14.0,26.0,24.0,11,2021,07/05/2023 04:48:33 PM,NaN,NaN,015XX,N WASHTENAW AVE
7846802,13127943,JG326161,06/25/2023 03:00:00 AM,0000X E MADISON ST,033A,ROBBERY,ATTEMPT ARMED - HANDGUN,STREET,False,False,...,1.0,34.0,32.0,03,2023,07/15/2023 04:45:57 PM,41.882100,-87.625094,0000X,E MADISON ST
7846803,13129823,JG328250,06/28/2023 06:00:00 PM,059XX S KEELER AVE,0810,THEFT,OVER $500,STREET,False,False,...,8.0,13.0,65.0,06,2023,07/15/2023 04:45:57 PM,41.785118,-87.727828,059XX,S KEELER AVE
7846804,13128007,JG325985,06/21/2023 08:00:00 PM,031XX N CALIFORNIA AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,14.0,35.0,21.0,14,2023,07/15/2023 04:45:57 PM,41.937926,-87.697782,031XX,N CALIFORNIA AVE
7846805,13129172,JG327619,06/20/2023 04:00:00 AM,028XX N MAPLEWOOD AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,True,...,14.0,35.0,21.0,08B,2023,07/15/2023 04:45:57 PM,41.932798,-87.691589,028XX,N MAPLEWOOD AVE
7846806,13128066,JG325838,06/06/2023 03:42:00 PM,018XX N LOCKWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,False,...,25.0,37.0,25.0,17,2023,07/15/2023 04:45:57 PM,41.914487,-87.758185,018XX,N LOCKWOOD AVE
7846807,13128324,JG326502,05/13/2023 12:00:00 PM,020XX W CERMAK RD,1120,DECEPTIVE PRACTICE,FORGERY,CURRENCY EXCHANGE,False,False,...,12.0,25.0,31.0,10,2023,07/15/2023 04:45:57 PM,41.852166,-87.676455,020XX,W CERMAK RD
7846808,13128375,JG326564,06/24/2023 01:29:00 PM,069XX N HAMILTON AVE,1330,CRIMINAL TRESPASS,TO LAND,RESIDENCE,False,False,...,24.0,40.0,2.0,26,2023,07/15/2023 04:45:57 PM,41.927663,-87.695082,069XX,N HAMILTON AVE

In [20]:
df.isna().sum()

ID                          0
Case Number                 4
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description        0
Arrest                      0
Domestic                    0
Beat                        0
District                    0
Ward                        0
Community Area              0
FBI Code                    0
Year                        0
Updated On                  0
Latitude                88111
Longitude               88111
redacted street             0
new block address           0
dtype: int64

In [57]:
geolocator = Nominatim(user_agent="coordinate_finder")

In [58]:
def get_coordinates(address):
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    return None, None

In [59]:
addresses = pd.DataFrame({
    'Block Address': [
        'W BRYN MAWR AVE',
        'E GRAND AVE',
        'N BREAKWATER ACCESS'
    ]
})

In [60]:
addresses[['Latitude', 'Longitude']] = addresses['Block Address'].apply(get_coordinates).apply(pd.Series)

In [61]:
print(addresses)

         Block Address   Latitude  Longitude
0      W BRYN MAWR AVE  41.983436 -87.672268
1          E GRAND AVE  44.810846 -91.499496
2  N BREAKWATER ACCESS  41.887833 -87.610206

## drop long and lat columns

In [21]:
df.to_csv('cleaned_Chicago_crime', index=False)

In [25]:
df.drop('Longitude', axis=1, inplace=True)

In [26]:
df.drop('Latitude', axis=1, inplace=True)

In [71]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,redacted street,new block address,Month
0,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,082XX,S INGLESIDE AVE,September
1,11645836,JC212333,2016-05-01 00:25:00,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,055XX,S ROCKWELL ST,May
2,11449702,JB373031,2018-07-31 13:30:00,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,009XX,E HYDE PARK BLVD,July
3,11643334,JC209972,2018-12-19 16:30:00,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,056XX,W WELLINGTON AVE,December
4,11645527,JC212744,2015-02-02 10:00:00,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,069XX,W ARCHER AVE,February

## extract time, day, month

In [ ]:
df['Date'] = pd.to_datetime(df['Date'] , errors='coerce')

In [73]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,redacted street,new block address,Month
0,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,082XX,S INGLESIDE AVE,September
1,11645836,JC212333,2016-05-01 00:25:00,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,055XX,S ROCKWELL ST,May
2,11449702,JB373031,2018-07-31 13:30:00,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,009XX,E HYDE PARK BLVD,July
3,11643334,JC209972,2018-12-19 16:30:00,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,056XX,W WELLINGTON AVE,December
4,11645527,JC212744,2015-02-02 10:00:00,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,069XX,W ARCHER AVE,February

In [ ]:
df['Month'] = df['Date'].dt.month_name()

In [75]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,redacted street,new block address,Month
0,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,082XX,S INGLESIDE AVE,September
1,11645836,JC212333,2016-05-01 00:25:00,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,055XX,S ROCKWELL ST,May
2,11449702,JB373031,2018-07-31 13:30:00,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,009XX,E HYDE PARK BLVD,July
3,11643334,JC209972,2018-12-19 16:30:00,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,056XX,W WELLINGTON AVE,December
4,11645527,JC212744,2015-02-02 10:00:00,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,069XX,W ARCHER AVE,February

In [ ]:
df['Day'] = df['Date'].dt.day_name()

In [77]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,District,Ward,Community Area,FBI Code,Year,Updated On,redacted street,new block address,Month,Day
0,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,6.0,8.0,44.0,06,2018,04/06/2019 04:04:43 PM,082XX,S INGLESIDE AVE,September,Saturday
1,11645836,JC212333,2016-05-01 00:25:00,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,8.0,15.0,63.0,11,2016,04/06/2019 04:04:43 PM,055XX,S ROCKWELL ST,May,Sunday
2,11449702,JB373031,2018-07-31 13:30:00,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,...,2.0,5.0,41.0,18,2018,04/09/2019 04:24:58 PM,009XX,E HYDE PARK BLVD,July,Tuesday
3,11643334,JC209972,2018-12-19 16:30:00,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,25.0,31.0,19.0,14,2018,04/04/2019 04:16:11 PM,056XX,W WELLINGTON AVE,December,Wednesday
4,11645527,JC212744,2015-02-02 10:00:00,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,8.0,23.0,56.0,11,2015,04/06/2019 04:04:43 PM,069XX,W ARCHER AVE,February,Monday

In [ ]:
df['time'] = df['Date'].dt.time
df.head(5)

### drop any unusful columns

In [ ]:
df.drop('redacted street', axis=1, inplace=True)

In [ ]:
df.drop('Block', axis=1, inplace=True)

In [ ]:
df.drop('IUCR', axis=1, inplace=True)

In [83]:
df.isna().sum()

ID                      0
Case Number             4
Date                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
Year                    0
Updated On              0
new block address       0
Month                   0
Day                     0
time                    0
dtype: int64

### creat date difference for progrees timeline

In [ ]:
df['Updated On'] = pd.to_datetime(df['Updated On'] , errors='coerce')

In [ ]:
df['Date Difference'] = (df['Updated On'] - df['Date']).dt.days

In [ ]:
#df['Date Difference'] = pd.to_datetime(df['Date Difference'] , errors='coerce')

In [ ]:
df['Date Difference'] = df['Date Difference'] / 365

In [ ]:
#df.drop('Date Difference', axis= 1 , inplace= True)

In [87]:
df.head(5)

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,new block address,Month,Day,time,Date Difference
0,11646166,JC213529,2018-09-01 00:01:00,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,2018,2019-04-06 16:04:43,S INGLESIDE AVE,September,Saturday,00:01:00,0.594521
1,11645836,JC212333,2016-05-01 00:25:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,15.0,63.0,11,2016,2019-04-06 16:04:43,S ROCKWELL ST,May,Sunday,00:25:00,2.931507
2,11449702,JB373031,2018-07-31 13:30:00,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,2018,2019-04-09 16:24:58,E HYDE PARK BLVD,July,Tuesday,13:30:00,0.690411
3,11643334,JC209972,2018-12-19 16:30:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,2018,2019-04-04 16:16:11,W WELLINGTON AVE,December,Wednesday,16:30:00,0.287671
4,11645527,JC212744,2015-02-02 10:00:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,2015,2019-04-06 16:04:43,W ARCHER AVE,February,Monday,10:00:00,4.175342

### delete any duplications or minor messing values

In [88]:
df['Case Number'].value_counts()

HJ590004    6
HZ140230    6
HS256531    5
HP296582    5
JE266473    5
           ..
G691789     1
G697784     1
G693606     1
G695578     1
JG326564    1
Name: Case Number, Length: 7846212, dtype: int64

In [89]:
df= df.drop_duplicates()

In [90]:
df.tail()

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,new block address,Month,Day,time,Date Difference
7846804,13128007,JG325985,2023-06-21 20:00:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1411,14.0,35.0,21.0,14,2023,2023-07-15 16:45:57,N CALIFORNIA AVE,June,Wednesday,20:00:00,0.063014
7846805,13129172,JG327619,2023-06-20 04:00:00,BATTERY,SIMPLE,RESIDENCE,False,True,1411,14.0,35.0,21.0,08B,2023,2023-07-15 16:45:57,N MAPLEWOOD AVE,June,Tuesday,04:00:00,0.068493
7846806,13128066,JG325838,2023-06-06 15:42:00,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,False,2532,25.0,37.0,25.0,17,2023,2023-07-15 16:45:57,N LOCKWOOD AVE,June,Tuesday,15:42:00,0.106849
7846807,13128324,JG326502,2023-05-13 12:00:00,DECEPTIVE PRACTICE,FORGERY,CURRENCY EXCHANGE,False,False,1234,12.0,25.0,31.0,10,2023,2023-07-15 16:45:57,W CERMAK RD,May,Saturday,12:00:00,0.172603
7846808,13128375,JG326564,2023-06-24 13:29:00,CRIMINAL TRESPASS,TO LAND,RESIDENCE,False,False,2411,24.0,40.0,2.0,26,2023,2023-07-15 16:45:57,N HAMILTON AVE,June,Saturday,13:29:00,0.057534

In [91]:
df = df.drop_duplicates(subset='Case Number', keep='first', ignore_index=True)

In [92]:
case_HJ590004 = df[df['Case Number'].str.contains('HJ590004', case=False, na=False)]

In [93]:
case_HJ590004

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,new block address,Month,Day,time,Date Difference
2996581,2346,HJ590004,2003-08-27 08:35:00,HOMICIDE,FIRST DEGREE MURDER,WAREHOUSE,True,False,925,9.0,11.0,61.0,01A,2003,2022-09-18 16:45:51,S WALLACE ST,August,Wednesday,08:35:00,19.073973

In [94]:
df.tail()

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,new block address,Month,Day,time,Date Difference
7846208,13128007,JG325985,2023-06-21 20:00:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1411,14.0,35.0,21.0,14,2023,2023-07-15 16:45:57,N CALIFORNIA AVE,June,Wednesday,20:00:00,0.063014
7846209,13129172,JG327619,2023-06-20 04:00:00,BATTERY,SIMPLE,RESIDENCE,False,True,1411,14.0,35.0,21.0,08B,2023,2023-07-15 16:45:57,N MAPLEWOOD AVE,June,Tuesday,04:00:00,0.068493
7846210,13128066,JG325838,2023-06-06 15:42:00,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,False,2532,25.0,37.0,25.0,17,2023,2023-07-15 16:45:57,N LOCKWOOD AVE,June,Tuesday,15:42:00,0.106849
7846211,13128324,JG326502,2023-05-13 12:00:00,DECEPTIVE PRACTICE,FORGERY,CURRENCY EXCHANGE,False,False,1234,12.0,25.0,31.0,10,2023,2023-07-15 16:45:57,W CERMAK RD,May,Saturday,12:00:00,0.172603
7846212,13128375,JG326564,2023-06-24 13:29:00,CRIMINAL TRESPASS,TO LAND,RESIDENCE,False,False,2411,24.0,40.0,2.0,26,2023,2023-07-15 16:45:57,N HAMILTON AVE,June,Saturday,13:29:00,0.057534

In [95]:
df.isna().sum()

ID                      0
Case Number             1
Date                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
Year                    0
Updated On              0
new block address       0
Month                   0
Day                     0
time                    0
Date Difference         0
dtype: int64

In [96]:
df.dropna(subset=['Case Number'], inplace=True)

In [97]:
df.isna().sum()

ID                      0
Case Number             0
Date                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
Year                    0
Updated On              0
new block address       0
Month                   0
Day                     0
time                    0
Date Difference         0
dtype: int64

In [98]:
df.drop('ID', axis= 1 , inplace= True)

In [103]:
df.drop('Updated On', axis= 1 , inplace= True)

In [ ]:
df.drop('Date', axis= 1 , inplace= True)

In [107]:
df.drop('Beat', axis= 1 , inplace= True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7846212 entries, 0 to 7846212
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   Case Number           object
 1   Primary Type          object
 2   Description           object
 3   Location Description  object
 4   Arrest                bool
 5   Domestic              bool
 6   District              float64
 7   Ward                  object
 8   Community Area        object
 9   FBI Code              object
 10  Year                  int64
 11  new block address     object
 12  Month                 object
 13  Day                   object
 14  time                  object
 15  Date Difference       float64
dtypes: bool(2), float64(2), int64(1), object(11)
memory usage: 912.9+ MB

In [101]:
df['FBI Code'].value_counts()

06     1655518
08B    1220476
14      894464
26      765089
18      705305
05      426111
08A     394556
07      382240
11      300195
03      294603
04B     215908
04A     138681
15      109765
16       69938
24       56920
10       44323
02       40777
17       40320
20       31098
22       14953
19       14914
09       13271
01A      12105
13        3029
12        1576
01B         77
Name: FBI Code, dtype: int64

### save the cleaned data in a new csv for use in a different notebook

In [ ]:
df.to_csv('cleaned_Chicago_crime', index=False)